##################
#     Python     #
##################


*.pyc
*
.py~
*
.pyc~



##################
#     PyCharm    #
##################


.idea/



##################
#    Mac Crap    #
##################


.DS_Store

